
<div class="col-md-6 col-md-offset-3"></div>
	<div class="new-movie-form">
<h2>edit book</h2>
<%= simple_form_for @movie, :html => {multipart: true} do |f| %>
<%= f.select :category_id, @categories %>
<%= f.file_field :movie_img %>
<%= f.input :title, label: "Movie Title"%>
<%= f.input :description %>
<%= f.input :author %>
<%= f.button :submit, class: "btn btn-custom2" %>
<%end%>

</div>
</div>